.popup{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
     /* background-color: rgba(138, 132, 132, 0.555);  */
     display:flex;
    justify-content: center;
    align-items: center;
} 

.popup-inner{
position: relative;
width: 80rem;
height: 30rem;
max-width: 640px;
background-color: blue;

}

.popup-inner .close-button{
    position: absolute;
    top:16px;
    right:16px;
}