.TabVert{
        margin-top:1rem;
        justify-content: center;
        display: flex;
}

label{
    margin-top: 0.3rem;
}

@media only screen and (max-width: 480px) {
    .TabVert {
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap;
    }

    span {
        font-size: 1.2rem;
        outline: black;
    }

}